<!-- game/templates/game/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
    <!-- <link rel="stylesheet" href="https://deck-of-cards.js.org/example.css"> -->
    <link rel="stylesheet" href="{% static 'game/deck-of-cards-master/example/example.css' %}">
</head>
<body>
    <textarea id="game-log" cols="100" rows="20"></textarea><br>
    <input id="game-message-input" type="text" size="100"><br>
    <input id="game-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <!-- <script src="https://deck-of-cards.js.org/dist/deck.min.js"></script> -->
    <script src="{% static 'game/deck-of-cards-master/dist/deck.js' %}"></script>
    <div id="container"></div>
    <script>

        const room_name = JSON.parse(document.getElementById('room-name').textContent);
        const wsGameAdress = 'ws://'
                          + window.location.host
                          + '/ws/game/'
                          + room_name
                          + '/'
        const gameSocket = new WebSocket(wsGameAdress);
        var $container = document.getElementById('container');

        const wsCardAdress = 'ws://'
                          + window.location.host
                          + '/ws/card/'
                          + room_name
                          + '/'

        function Connector(wsurl) {
            this.socket = new WebSocket(wsurl);
        }
        Connector.prototype.emit = function(msg) {
            var self = this;
            (function _waitForSocketConnection(callback) {
                setTimeout(function() {
                    if (self.socket.readyState === 1) {
                        console.log("Connection is made")
                        if (callback != null) {
                            callback();
                        }
                        return;
                    } else {
                        console.log("wait for connection...")
                        _waitForSocketConnection(callback);
                    }
                }, 5);
            })(function() {
                console.log("message sent!!!");
                self.socket.send(JSON.stringify({
                    'message': msg
                }));
            });
        }
        var con = new Connector(wsCardAdress);
        con.emit('abc');



        // gameSocket.onopen = function(e) {
        //     gameSocket.send(JSON.stringify({
        //         'message': 'aaaaaaaaaaaaaaa'
        //     }));
        // };

        // create Deck
        var deck = Deck(true, con);
        // deck.mount($container);
        // sock.onopen = function(e) {
        //     sock.send(JSON.stringify({
        //         'message': 'aaaaaaaaaaaaaaa'
        //     }));
        // };



        // for (const i of Array(2).keys()) {
        //     var card = deck.cards[i];
        //     card.animateTo({
        //         delay: 1000 + i * 2, // wait 1 second + i * 2 ms
        //         duration: 500,
        //         ease: 'quartOut',
        //
        //         x: Math.random() * window.innerWidth - window.innerWidth / 2,
        //         y: Math.random() * window.innerHeight - window.innerHeight / 2
        //     });
        //     card.setSide('front');
        // };
        //
        var card = deck.cards[0];
        card.mount($container);
        // // // Allow to move/drag it
        // card.disableDragging();
        card.enableFlipping();


        const cardSocket = new WebSocket(wsCardAdress)
        cardSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#game-log').value += ("A card has been flipped" + '\n');
        };



        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#game-log').value += (data.message + '\n');
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#game-message-input').focus();
        document.querySelector('#game-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#game-message-submit').click();
            }
        };

        document.querySelector('#game-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#game-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
