<!-- game/templates/game/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
    <!-- <link rel="stylesheet" href="https://deck-of-cards.js.org/example.css"> -->
    <link rel="stylesheet" href="{% static 'game/deck-of-cards-master/example/example.css' %}">
    <link rel="stylesheet" href="{% static 'game/jQuery-ToggleButton/toggle.button.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'game/jQuery-ToggleButton/toggle.button.js' %}"></script>
</head>
<body>
    <!-- <textarea id="game-players" cols="20" rows="10"></textarea><br> -->
    <p>Room: {{ room_name }}</p>
    <p>Players:</p>
    <ul id="game-players"></ul>
    <textarea id="game-log" cols="100" rows="20"></textarea><br>
    <input id="game-message-input" type="text" size="100"><br>
    <input id="game-message-submit" type="button" value="Send">
    <!-- <input id="game-quit-submit" type="button" value="Quit game"> -->
    {{ current_user.username|json_script:"user_name" }}
    {{ room_name|json_script:"room_name" }}



    <input type="checkbox" id="game-ready-submit" unchecked>
    <script>
  			$("#game-ready-submit").toggleButton({
        text : "Ready",
        toggleOnColor : "green",
        onTitle : "On",
        offTitle : "Off",
        onImg: "{% static 'game/jQuery-ToggleButton/toggleON.png' %}",
        offImg: "{% static 'game/jQuery-ToggleButton/toggleOFF.png' %}",
        change : null
        });
		</script>



    <!-- <script src="https://deck-of-cards.js.org/dist/deck.min.js"></script> -->
    <script src="{% static 'game/deck-of-cards-master/dist/deck.js' %}">console.firebug=true;</script>
    <div id="container"></div>

    <script>
        const user_name = JSON.parse(document.getElementById('user_name').textContent);
        const room_name = JSON.parse(document.getElementById('room_name').textContent);
        // var nb_users = {{ current_user.player.room.nb_users }}
        var players = [];
        var my_index;
        var nb_users;
        var started = false;
        var gap = 0.1;


        const wsGameAdress = 'ws://'
                          + window.location.host
                          + '/ws/game/'
                          + room_name
                          + '/';
        const gameSocket = new WebSocket(wsGameAdress);
        gameSocket.onopen = function(e) {
            gameSocket.send(JSON.stringify({
                'connect_msg': ""
            }));
        };

        function Connector(wsurl) {
            this.socket = new WebSocket(wsurl);
        }
        Connector.prototype.emit = function(msg) {
            var self = this;
            (function _waitForSocketConnection(callback) {
                setTimeout(function() {
                    if (self.socket.readyState === 1) {
                        // console.log("Connection is made")
                        if (callback != null) {
                            callback();
                        }
                        return;
                    } else {
                        // console.log("wait for connection...")
                        _waitForSocketConnection(callback);
                    }
                }, 5);
            })(function() {
                // console.log("message sent!!!");
                self.socket.send(JSON.stringify({
                    'card_msg': msg
                }));
            });
        }
        var con = new Connector(wsGameAdress);






        // create Deck
        var deck = Deck(true, con);
        var $container = document.getElementById('container');
        var hands = [];
        const radius = 0.5;
        var angular_positions = [];


        // XX TEMPORARY, JUST FOR TESTING PURPOSES
        nb_users = 5;
        players = ["Player 1", "Player 2", "Player 3"]
        my_index = 1;
        start_game();



        function start_game() {
            deck.mount($container);
            deck.shuffle();
            // console.log(deck.cards[3].$el.clientHeight);
            // console.log(deck.cards[3].$el.clientWidth);
            for (const i of Array(nb_users).keys()) {
                hands[i] = [];
            }
            var angle = 3 * Math.PI / 2;
            for (const j of Array(nb_users).keys()) {
                angular_positions[j] = angle;
                angle += 2 * Math.PI / nb_users;
            }
            var count = 1;
            for (const i of Array(5).keys()) {
                for (const j of Array(nb_users).keys()) {
                    deal_card(deck.cards.length - count, j, count)
                    count++;
                };
                // gap += 0.05;
            };
        }



        function deal_card(i, j, delay_index) {
            var card = deck.cards[i];
            var hand = hands[j];
            hand.push(card);
            hand = bubble_sort_hand(hand);
            card.setSide('front');
            hand.forEach(function (c, ind) {
                c.animateTo({
                    delay: 1000 + delay_index * 100, // wait 1 second + count * 2 ms
                    duration: 500,
                    ease: 'quartOut',

                    x: ((1 + radius * Math.cos(angular_positions[j]) + gap * (ind - 2)) * window.innerWidth - window.innerWidth) / 2,
                    y: ((1 - radius * Math.sin(angular_positions[j])) * window.innerHeight - window.innerHeight) / 2
                });
            });

            // card.setSide('front');
        }


        function bubble_sort_hand(arr){
          var len = arr.length;
           for (var i = len-1; i>=0; i--){
             for(var j = 1; j<=i; j++){
               if(is_card_sup(arr, j-1, j)){
                   var temp = arr[j-1];
                   arr[j-1] = arr[j];
                   arr[j] = temp;
                }
             }
           }
           return arr;
        }



        function is_card_sup(arr, i, j){
            // xx
            if (arr[i].suit == 4) {
                if (arr[j].suit == 4) {
                    return arr[i].rank > arr[j].rank;
                } else {
                    return false;
                }
            } else {
                if (arr[j].suit == 4) {
                    return true;
                } else {
                    if (arr[i].rank == arr[j].rank) {
                        return arr[i].suit > arr[j].suit;
                    } else {
                        return arr[i].rank > arr[j].rank;
                    }
                }
            }
        }


        // setTimeout(function(){
        //     deck.sort();
        // }, 5000);

        // Rank : from 1 to 13 (10 + face cards)
        // Suits :
        // 0 : spades
        // 1 : hearts
        // 2 : clubs
        // 3 : diamonds
        // 4 : jokers (which also have a rank)




        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.hasOwnProperty('chat_msg')) {
                document.querySelector('#game-log').value += (data.chat_msg + '\n');
            } else if (data.hasOwnProperty('connect_msg')) {
                players = data.connect_msg;
                nb_users = players.length;
                $("#game-players").empty();
                players.forEach(function(player) {
                    $("#game-players").append('<li>'+player+'</li>');
                });
            } else if (data.hasOwnProperty('ready_msg')) {
                document.querySelector('#game-log').value += ("Go!" + '\n');
                document.querySelector('#game-ready-submit').disabled = true;
                started = true;
                players = data.ready_msg;
                nb_users = players.length;
                start_game();
            } else if (data.hasOwnProperty('card_msg')) {
                deck.flip();
                document.querySelector('#game-log').value += ('The card has been flipped.' + '\n');
            } else if (data.hasOwnProperty('disconnect_msg')) {
                // XX TO DO, UPDATE GAME without this player
                // nb_users--;
                document.querySelector('#game-log').value += (data.disconnect_msg + ' has quit the game.' + '\n');
            } else {
              // pass
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#game-ready-submit').onclick = function(e) {
            const checkedInputDom = document.querySelector('#game-ready-submit');
            const checked = checkedInputDom.checked;
            if (checked) {
                gameSocket.send(JSON.stringify({
                    "ready_msg": user_name
                }));
            } else {
                gameSocket.send(JSON.stringify({
                    "not_ready_msg": user_name
                }));
            }
        };

        // document.querySelector('#game-quit-submit').onclick = function(e) {
        //     close();
        // };

        document.querySelector('#game-message-input').focus();
        document.querySelector('#game-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#game-message-submit').click();
            }
        };

        document.querySelector('#game-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#game-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'chat_msg': message
            }));
            messageInputDom.value = '';
        };

        window.onbeforeunload = function(){
            return true;
        }

        $(window).bind("pageshow", function(event) {
            if (event.originalEvent.persisted) {
                window.location.reload();
            }
        });


    </script>


</body>
</html>
