<!-- game/templates/game/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
    <!-- <link rel="stylesheet" href="https://deck-of-cards.js.org/example.css"> -->
    <link rel="stylesheet" href="{% static 'game/deck-of-cards-master/example/example.css' %}">
    <link rel="stylesheet" href="{% static 'game/jQuery-ToggleButton/toggle.button.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'game/jQuery-ToggleButton/toggle.button.js' %}"></script>
</head>
<body>
    <!-- <textarea id="game-players" cols="20" rows="10"></textarea><br> -->
    <p>Room: {{ room_name }}</p>
    <p>Players:</p>
    <ul id="game-players"></ul>
    <textarea id="game-log" cols="100" rows="20"></textarea><br>
    <input id="game-message-input" type="text" size="100"><br>
    <input id="game-message-submit" type="button" value="Send">
    <!-- <input id="game-quit-submit" type="button" value="Quit game"> -->
    {{ current_user.username|json_script:"user_name" }}
    {{ room_name|json_script:"room_name" }}



    <input type="checkbox" id="game-ready-submit" unchecked>
    <script>
  			$("#game-ready-submit").toggleButton({
        text : "Ready",
        toggleOnColor : "green",
        onTitle : "On",
        offTitle : "Off",
        onImg: "{% static 'game/jQuery-ToggleButton/toggleON.png' %}",
        offImg: "{% static 'game/jQuery-ToggleButton/toggleOFF.png' %}",
        change : null
        });
		</script>



    <!-- <script src="https://deck-of-cards.js.org/dist/deck.min.js"></script> -->
    <script src="{% static 'game/deck-of-cards-master/dist/deck.js' %}">console.firebug=true;</script>
    <div id="container"></div>

    <script>
        const user_name = JSON.parse(document.getElementById('user_name').textContent);
        const room_name = JSON.parse(document.getElementById('room_name').textContent);
        // var nb_users = {{ current_user.player.room.nb_users }}
        var players = [];
        var my_index;
        var nb_users;
        var started = false;
        var my_gap = 90;  // gap between cards in pixels (width of a card = 78)
        var others_gap = 10;
        var my_turn = false;
        var allow_click = false;

        const wsGameAdress = 'ws://'
                          + window.location.host
                          + '/ws/game/'
                          + room_name
                          + '/';
        const gameSocket = new WebSocket(wsGameAdress);
        gameSocket.onopen = function(e) {
            gameSocket.send(JSON.stringify({
                'connect_msg': ""
            }));
        };

        function Connector(wsurl) {
            this.socket = new WebSocket(wsurl);
        }
        Connector.prototype.emit = function(msg) {
            var self = this;
            (function _waitForSocketConnection(callback) {
                setTimeout(function() {
                    if (self.socket.readyState === 1) {
                        // console.log("Connection is made")
                        if (callback != null) {
                            callback();
                        }
                        return;
                    } else {
                        // console.log("wait for connection...")
                        _waitForSocketConnection(callback);
                    }
                }, 5);
            })(function() {
                // console.log("message sent!!!");
                self.socket.send(JSON.stringify({
                    'card_msg': msg
                }));
            });
        }
        var con = new Connector(wsGameAdress);






        // create Deck
        var deck = Deck(true);
        var $container = document.getElementById('container');
        const hand_size = 5;
        const radius = 0.5;



        // XX TEMPORARY, JUST FOR TESTING PURPOSES
        players = ["Player 1", "Player 2", "Player 3"]
        nb_users = players.length;
        my_index = 0;
        cards_order = [...Array(54).keys()];
        shuffle(cards_order);
        start_game(cards_order);



        function start_game(cards_order) {
            deck.mount($container);
            sort_deck(cards_order);

            deck.cards.forEach(function (card) {
                card.selected = false;
            });
            deck.stack = [];
            for (var i = deck.cards.length-1; i >= 0; i--) {
                var card = deck.cards[i]
                card.location = -1
                deck.stack.push(card);
            }
            deck.discard = [];
            deck.hands = [];
            for (const i of Array(nb_users).keys()) {
                deck.hands[i] = [];
            }
            deck.angular_positions = [];
            deck.rots = [];
            var angle = 3 * Math.PI / 2;
            for (const j of Array(nb_users).keys()) {
                deck.angular_positions[j] = angle;
                deck.rots[j] = 180 * (1.5 - angle / Math.PI);
                angle -= 2 * Math.PI / nb_users;
            }
            var count = 1;
            for (const i of Array(hand_size).keys()) {
                for (const j of Array(nb_users).keys()) {
                    var deck_ind = deck.cards.length - count;
                    var card = deck.cards[deck_ind];
                    deck.stack.shift();
                    card.location = j
                    deck.hands[j].push(card);
                    count++;
                }
            }

            for (const j of Array(nb_users).keys()) {
                bubble_sort_cards(deck.hands[j])
            }


            count = 1
            for (const i of Array(hand_size).keys()) {
                for (const j of Array(nb_users).keys()) {
                    var deck_ind = deck.cards.length - count;
                    var card = deck.cards[deck_ind];
                    var hand = deck.hands[j]
                    var hand_ind = hand.indexOf(card);

                    var gap = j == 0 ? my_gap : others_gap;
                    var gap_x = gap * Math.sin((90 - deck.rots[j]) * Math.PI / 180) * (hand_ind - 2);
                    var gap_y = gap * Math.cos((90 - deck.rots[j]) * Math.PI / 180) * (hand_ind - 2);
                    var x = gap_x + ((1 + radius * Math.cos(deck.angular_positions[j])) * window.innerWidth - window.innerWidth) / 2;
                    var y = gap_y + ((1 - radius * Math.sin(deck.angular_positions[j])) * window.innerHeight - window.innerHeight) / 2;
                    var z = hand_ind;
                    var rot = deck.rots[j];
                    var change_side = j == my_index ? true : false;
                    if (j == 0) {
                      card.enableClicking();
                    }
                    card.animateTo({
                        delay: 1000 + count * 200, // wait 1 second + count * 2 ms
                        duration: 200,
                        ease: 'quartOut',
                        x: x,
                        y: y,
                        z_end: z,
                        rot: rot,
                        change_side: change_side
                    });
                    count++;
                }
            }

            var deck_ind = deck.cards.length - count;
            var card = deck.cards[deck_ind];
            card.location = -2;
            card.enableClicking();
            var x = 90 + 0.5 * window.innerWidth - window.innerWidth / 2;
            var y = 0.5 * window.innerHeight - window.innerHeight / 2;
            card.animateTo({
                delay: 1000 + count * 200, // wait 1 second + count * 2 ms
                duration: 200,
                ease: 'quartOut',
                x: x,
                y: y,
                z_end: 0,
                change_side: true,
            });

            count++;
            var deck_ind = deck.cards.length - count;
            var card = deck.cards[deck_ind];
            card.location = -1;
            card.enableClicking();
        }





        function sort_deck(cards_order){
            sorted_cards = [];
            for (const ind of Array(deck.cards.length).keys()) {
                var card = deck.cards[cards_order[ind]];
                card.i = ind;
                sorted_cards.push(card);
            }
            deck.cards = sorted_cards;

            for (const ind of Array(deck.cards.length).keys()) {
                var card = deck.cards[ind];
                // card.i = ind;
                var x = -ind / 4;
                var y = -ind / 4;
                var z = ind;
                card.animateTo({
                  delay: z * 2,
                  duration: 200,
                  x: plusminus(Math.random() * 40 + 20) * fontSize() / 16,
                  y: y,
                });
                card.animateTo({
                    delay: 200 + z * 2,
                    duration: 200,
                    x: x,
                    y: y,
                    z_start: z,
                });
            }
        }


        function is_combination_correct(){
            var is_combination_correct = false;
            var selected_cards = get_selected_cards()
            if (selected_cards.length == 1) {
                is_combination_correct = true;
            } else if (is_series(selected_cards)) {
                is_combination_correct = true;
            } else if (selected_cards.length > 2 && is_straight(selected_cards)) {
                is_combination_correct = true;
            }
            return is_combination_correct;
        }


        function is_series(cards){
            var same_rank = true;
            var rank;
            cards.forEach(function (card) {
                if (card.suit != 4) {
                    if (rank === undefined) {
                        rank = card.rank;
                    } else {
                        if (card.rank != rank) {
                            same_rank = false;
                        }
                    }
                }
            });
            return same_rank;
        }



        function is_straight(cards){
            var is_straight = true;
            var same_suit = is_same_suit(cards);
            if (same_suit) {
                cards = bubble_sort_cards(cards)

                var nb_jokers = 0;
                var previous_rank;
                cards.forEach(function (card) {
                    if (card.suit == 4) {
                        nb_jokers++;
                    } else if (previous_rank === undefined) {
                        previous_rank = card.rank;
                    } else if (card.rank == previous_rank + 1) {
                        previous_rank++;
                    } else if (nb_jokers > 0) {
                        nb_jokers--;
                    } else {
                        is_straight = false;
                    }
                });
                // return true;
            } else {
                is_straight = false;
            }
            return is_straight;
        }



        function is_same_suit(cards){
            var same_suit = true;
            var suit;
            cards.forEach(function (card) {
                if (card.suit != 4) {
                    if (suit === undefined) {
                        suit = card.suit;
                    } else {
                        if (card.suit != suit) {
                            same_suit = false;
                        }
                    }
                }
            });
            return same_suit;
        }


        function get_selected_cards(){
            var selected_cards = [];
            var hand = deck.hands[my_index];
            // console.log(hand);
            hand.forEach(function (card) {
                if (card.selected) {
                    selected_cards.push(card);
                }
            });
            return selected_cards;
        }


        function card_up_down(card, is_up){
            var dy = is_up ? -30 : 30;
            var y = card.y + dy
            card.animateTo({
                delay: 0,
                duration: 200,
                ease: 'quartOut',
                y: y,
            });
        }


        function bubble_sort_cards(cards){
            var len = cards.length;
            for (var i = len-1; i>=0; i--) {
                for (var j = 1; j<=i; j++) {
                    if (is_card_sup(cards[j-1], cards[j])) {
                        var temp = cards[j-1];
                        cards[j-1] = cards[j];
                        cards[j] = temp;
                    }
                }
            }
            return cards;
        }



        function is_card_sup(card_1, card_2){
            if (card_1.suit == 4) {
                if (card_2.suit == 4) {
                    return card_1.rank > card_2.rank;
                } else {
                    return false;
                }
            } else {
                if (card_2.suit == 4) {
                    return true;
                } else {
                    if (card_1.rank == card_2.rank) {
                        return card_1.suit > card_2.suit;
                    } else {
                        return card_1.rank > card_2.rank;
                    }
                }
            }
        }


        /**
       * Shuffles array in place.
       * @param {Array} a items An array containing the items.
       */
      function shuffle(a) {
          var j, x, i;
          for (i = a.length - 1; i > 0; i--) {
              j = Math.floor(Math.random() * (i + 1));
              x = a[i];
              a[i] = a[j];
              a[j] = x;
          }
          return a;
      }


      function fontSize() {
          return window.getComputedStyle(document.body).getPropertyValue('font-size').slice(0, -2);
      }


      function plusminus(value) {
          var plusminus = Math.round(Math.random()) ? -1 : 1;
          return plusminus * value;
      }



        // Rank : from 1 to 13 (10 + face cards)
        // Suits :
        // 0 : spades
        // 1 : hearts
        // 2 : clubs
        // 3 : diamonds
        // 4 : jokers (which also have a rank)




        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.hasOwnProperty('chat_msg')) {
                document.querySelector('#game-log').value += (data.chat_msg + '\n');
            } else if (data.hasOwnProperty('connect_msg')) {
                players = data.connect_msg;
                nb_users = players.length;
                $("#game-players").empty();
                players.forEach(function(player) {
                    $("#game-players").append('<li>'+player+'</li>');
                });
            } else if (data.hasOwnProperty('ready_msg')) {
                document.querySelector('#game-log').value += ("Go!" + '\n');
                document.querySelector('#game-ready-submit').disabled = true;
                started = true;
                players = data.ready_msg.users_order;
                nb_users = players.length;
                start_game(data.ready_msg.cards_order);
            } else if (data.hasOwnProperty('card_msg')) {
                document.querySelector('#game-log').value += (data.card_msg + '\n');
            } else if (data.hasOwnProperty('disconnect_msg')) {
                // XX TO DO, UPDATE GAME without this player
                // nb_users--;
                document.querySelector('#game-log').value += (data.disconnect_msg + ' has quit the game.' + '\n');
            } else {
              // pass
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#game-ready-submit').onclick = function(e) {
            const checkedInputDom = document.querySelector('#game-ready-submit');
            const checked = checkedInputDom.checked;
            if (checked) {
                gameSocket.send(JSON.stringify({
                    "ready_msg": user_name
                }));
            } else {
                gameSocket.send(JSON.stringify({
                    "not_ready_msg": user_name
                }));
            }
        };

        // document.querySelector('#game-quit-submit').onclick = function(e) {
        //     close();
        // };

        document.querySelector('#game-message-input').focus();
        document.querySelector('#game-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#game-message-submit').click();
            }
        };

        document.querySelector('#game-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#game-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'chat_msg': message
            }));
            messageInputDom.value = '';
        };

        window.onbeforeunload = function(){
            return true;
        }

        $(window).bind("pageshow", function(event) {
            if (event.originalEvent.persisted) {
                window.location.reload();
            }
        });


    </script>


</body>
</html>
